:root {
  --dark-blue-intro: hsl(217, 28%, 15%);
  --dark-blue-main: hsl(218, 28%, 13%);
  --dark-blue-footer: hsl(216, 53%, 9%);
  --dark-blue-testimonials: hsl(219, 30%, 18%);
  --cyan: hsl(176, 68%, 64%);
  --blue: hsl(198, 60%, 50%);
  --light-red: hsl(0, 100%, 63%);
  --white: hsl(0, 0%, 100%);
  --font-primary: "Raleway", "sans-serif";
  --font-secondary: "Open Sans", "sans-serif";
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--dark-blue-main);
  color: var(--white);
  font-family: var(--font-primary);
  /* background-image: url("../images/bg-curvy-mobile.svg");
  background-repeat: no-repeat;
  background-size: cover; */
}

.header {
  display: flex;
  padding: 0 20px;
  margin: 20px 0 0 0;
}

.header .header_logo_container {
  width: 40%;
}

.header .header_logo_container img {
  width: 60%;
}

.header .header_nav {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  font-size: 0.8rem;
}

.header .header_nav ul {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  height: 100%;
  width: 100%;
  list-style: none;
}

.header .header_nav ul > a {
  height: 100%;
  margin: 0 0 0 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white);
  text-decoration: none;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 320px;
  margin: 0 auto;
}

.hero {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.hero .hero_img {
  max-width: 375px;
  margin: 42px auto;
}

.hero .hero_img img {
  max-width: 304px;
}

.hero .hero_title {
  max-width: 320px;
  margin: 0 auto 24px;
}

.hero .hero_description {
  max-width: 280px;
  margin: 0 auto 24px;
  font-size: 0.8rem;
  font-family: var(--font-secondary);
  font-weight: 400;
  line-height: 1.4rem;
}

.hero .hero_cta {
  width: 240px;
  height: 48px;
  margin: 0 auto;
  border-radius: 4rem;
  border: none;
  outline: none;
  background: linear-gradient(to right, var(--cyan), var(--blue));
  color: var(--white);
  font-weight: 700;
  font-size: 0.9rem;
  font-family: var(--font-primary);
}

.features {
  max-width: 320px;
  margin: 132px auto 0;
}

.features .feature {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  margin: 24px 0 64px 0;
}

.features .feature .feature_img {
  max-width: 80px;
}

.features .feature .feature_title {
  font-size: 1rem;
  font-weight: 700;
  margin: 24px 0 0 0;
}

.features .feature .feature_description {
  font-size: 0.8rem;
  line-height: 1.2rem;
  margin: 12px 0 0 0;
}

.description {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 124px 0 32px;
}

.description .description_img {
  width: 100%;
}

.description .description_text_container {
  margin: 32px 0 0 0;
  text-align: left;
}

.description_text_container .description_title {
  font-weight: 700;
}

.description_text_container .description_text {
  margin: 24px 0 24px 0;
  font-family: var(--font-secondary);
  font-size: 0.8rem;
}

.description_text_container .description_cta_container {
  display: flex;
  height: 24px;
  max-width: 142px;
  border-bottom: solid 1px var(--cyan);
}

.description_cta_container a {
  color: var(--cyan);
  font-size: 0.7rem;
  margin: 0 20px 0 0;
  text-decoration: none;
}

.description_cta_container img {
  max-width: 16px;
  max-height: 16px;
}
